body {
  background-color: #1c1f25;
  color: #fff;
}

section {
  height: 100vh;
  width: 100vw;
}

.signin {
  display: flex;
  flex-direction: column;

}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  color: #fff;
  background-color: #1c1c1c;
  text-align: center;

  width: 25%;
  font-size: 2rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: #171c21 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  input {
    width: 90%;
    font-size: 1.5rem;
  }
}